version: '3'
services:
    zookeeper:
        image: wurstmeister/zookeeper:latest
        container_name: zookeeper
        ports:
        - 2181:2181
        networks:
        - insight
    kafka:
        image: wurstmeister/kafka:latest
        environment:
            KAFKA_ADVERTISED_HOST_NAME: 10.71.2.66
            KAFKA_ADVERTISED_PORT: 8092
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_CREATE_TOPICS: "topicjson:1:1"
        ports:
        - 8092:9092
        networks:
        - insight
    wrapper:
        image: cwolff/opener-docker-wrapper
        build:
          context: ./wrapper
        environment:
          SANIC_OPENER_IDENTIFY_LANGUAGE_URL: http://language_identifier
          SANIC_OPENER_TOKENIZE_URL: http://tokenizer
          SANIC_OPENER_POS_URL: http://pos_tagger
          SANIC_OPENER_NER_URL: http://ner
          SANIC_OPENER_KAF2JSON_URL: http://kaf2json
        ports:
          - 9999:80
        depends_on:
          - language_identifier
          - tokenizer
          - pos_tagger
          - ner
          - kaf2json

    language_identifier:
        image: cwolff/opener-docker-language-identifier

    tokenizer:
        image: cwolff/opener-docker-tokenizer

    pos_tagger:
        image: cwolff/opener-docker-pos-tagger

    ner:
        image: cwolff/opener-docker-ner

    kaf2json:
        image: cwolff/opener-docker-kaf2json
networks:
    insight:
        driver: bridge
